
header {
    position:fixed; left:0; top:0; z-index:999;
    width:100%;
}
header .top {
    padding:10px;
    background-color: #222;
    display: flex;
    height: 42px;
    width:100%;
    position: relative;
}
header .top p {
    color:#fff;
    font-weight: 500;
    font-size: 0.75rem;
    position:absolute; 
    left:50%;
    transform:translateX(-50%);
    line-height: 22px;
}
header .top .right {position:absolute; right:0; padding-right: 60px;}
header .top .right a {
    color:#fff;
    font-weight: 500;
    line-height: 5px;
    padding:0px 10px;
    font-size: 0.75rem;
}
header .top .right a:last-child:after{display: none;}
header .top .right a::after {
    content:'';
    display:inline-block;
    width:1px;
    height:10px;
    background:#fff;
    position:relative;
    right:-14px;
    top:1px;
}
header .top .right a:last-child {border-right:0;}
header .btm {
    margin: 0 auto;
    padding-top:10px;
    height:95px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #fff;
}
header .btm h1 {}
header .btm h1 a {}
header .btm h1 a img {width:150px; height: 70px;}
header .btm nav {
    position: relative;
}
header .btm nav ul {
    display: flex; flex-flow: row nowrap;
    padding-top:28px;
}
header .btm nav ul .gnb:last-child {margin-right: 0;}
header .btm nav ul .gnb::after {
    content:''; display:block;
    width:100%; height:2px; background-color: #D51920;
    position:absolute; bottom:-1px;
    transform:scale(0); transition:transform 0.5s;
}
header .btm nav ul .gnb {}
header .btm nav ul li:hover::after {transform:scale(1);}
header .btm nav ul li {
    margin-right: 30px;
    position: relative;
    padding-bottom:10px;
}
header .btm nav ul li a {
    letter-spacing: -0.02em;
    font-weight: 500;
    display: block;
}
/* 서브메뉴 */
header .btm nav ul li .snb_all {
    display: flex; flex-flow: row nowrap;
    position:absolute; top:20px;
    height: 345px;
    z-index:150;
    padding:50px;
}
header .btm nav ul li .snb_all .snb {
    display: flex; flex-flow: column nowrap;
}
header .btm nav ul li .snb_all .snb li {}
header .btm nav ul li .snb_all .snb li a {line-height: 30px; width:200px;}
header .btm nav ul li .snb_all .snb li:first-child a{color:#D51920;}
/* ----------------------------------------- */
header .btm .right {
    display: flex; flex-flow: row nowrap; align-items: center;
}
header .btm .right #searchFrm {
    background-color:#222;
    padding:11px 0; border-radius: 30px;
    width:200px;
}
header .btm .right #searchFrm fieldset {
    display: flex;
}
header .btm .right #searchFrm fieldset #searchBtn {background: none; padding-left:10px;}
header .btm .right #searchFrm fieldset #searchBtn img  {}
header .btm .right #searchFrm fieldset #searchTxt::placeholder {color:#fff;}
header .btm .right #searchFrm fieldset #searchTxt {
    background:none ; color:#fff; padding-left:10px;
}
header .btm .right .icon {}
header .btm .right .icon a:first-child {margin:0 20px;}
header .btm .right .icon a {}
header .btm .right .icon a img {}
header .nav_bg{
    background-color:#f1f1f1 ;
    width:1920px; height: 350px;
    position: absolute; top:132px;
    z-index:100;
}
/* footer */
footer > * { color:#fff;}
footer {
    background-color: #222;
    padding:30px 60px;
}
footer .top {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 135px;
}
footer .top .top-left {}
footer .top .top-left ul {
    display: flex; flex-flow: row nowrap;
}
footer .top .top-left ul > li {
    display: flex; flex-flow: column wrap;
    margin-right:50px;
}
footer .top .top-left ul > li > a:hover {color:#D51920;}
footer .top .top-left ul > li > a {line-height: 30px; color:#fff; margin-bottom: 10px;}
footer .top .top-left ul li > .snb {display:flex ; flex-flow: column nowrap;}
footer .top .top-left ul li > .snb > li {margin-right:0px;}
footer .top .top-left ul li > .snb > li > a {}
footer .top .top-right {}
footer .top .top-right a:nth-child(1) {background-image: url(../images/sns/f_sns_04.png);}
footer .top .top-right a:nth-child(2) {background-image: url(../images/sns/f_sns_03.png);}
footer .top .top-right a:nth-child(3) {background-image: url(../images/sns/f_sns_02.png);}
footer .top .top-right a:nth-child(4) {background-image: url(../images/sns/f_sns_01.png);}
footer .top .top-right a {
    color:#fff;
    background:no-repeat;
    width:30px; height: 30px;
    display: inline-block;
    text-indent:-99999px;
    margin-left:20px;
}
footer .top .top-right a:nth-child(1):hover {background-image: url(../images/sns/f_sns_h_04.png);}
footer .top .top-right a:nth-child(2):hover {background-image: url(../images/sns/f_sns_h_03.png);}
footer .top .top-right a:nth-child(3):hover {background-image: url(../images/sns/f_sns_h_02.png);}
footer .top .top-right a:nth-child(4):hover {background-image: url(../images/sns/f_sns_h_01.png);}
footer .middle-top {display: flex; flex-flow: row nowrap; justify-content: space-between;
    padding-bottom: 30px; border-bottom: 1px solid #fff;
}
footer .middle-top p {}
footer .middle-top p img {margin-right: 5px;}
footer .middle-top .middle-top-right {}
footer .middle-top .middle-top-right a:hover {color:#D51920;}
footer .middle-top .middle-top-right a {display: inline; padding-left:35px; color:#fff;}
footer address {padding-top:30px;}
footer address p {line-height: 30px;}
footer address p a:hover {color:#D51920;}
footer address p a {color:#fff;}