/* header */
@media screen and (max-width:1200px){
    main {width:calc(100% - 30px);}
    header .btm nav ul {display:none;}
    header .top .right {display:none;}
    header .btm {padding:15px;}
}
@media screen and (max-width:1100px){
    header .top .right .icon {}
    header .btm .right .icon a:first-child {
        margin:0 10px;
        display: inline-block;
        background: url(../images/icon_user.png) no-repeat;
        width:30px; height:30px;
    }
    header .btm .right .icon a:last-child {
        display: inline-block;
        background: url(../images/icon_menu.png) no-repeat;
        width:30px; height:30px;
        margin:0;
    }
    header .btm .right .icon a:last-child img,
    header .btm .right .icon a:first-child img {content:''; display: none;}
    header .btm {
        margin: 0 auto;
        padding:10px;
        display: flex; flex-flow: row nowrap;
        justify-content: space-between;
        background-color: #fff;
    }
}
/* 모바일 */
@media screen and (max-width:481px){
    /* header */
    header .top p {display: none;}
    header .btm h1 a img {width:100px; height: 47px;}
    header .btm .right .icon a:first-child {display: none;}
    header .btm .right #searchFrm {display: none;}
    header .btm .right .icon a:last-child {}
}