/* header */
main {width:calc(100% - 120px); margin:0 auto; letter-spacing: -0.04rem;}
/* main */
main > * {margin-bottom: 100px;}
main {margin-top:200px;}
main .m_event {text-align: center;}
main .m_event img {width: 100%;}
main .event {
    /* background-color: pink; */
}
main .event .img {text-align: center;}
main .event .img img {
    width: 100%;
}
main .event .txt > * {margin-bottom:25px; line-height: 25px;}
main .event .txt {
    text-align: center;
}
main .event .txt h2 {font-size: 2.36rem; font-weight: 800;}
main .event .txt p {}
main .event .txt a:hover {background: #D51920;}
main .event .txt a {
    background-color: #222;
    color:#fff;
    padding:5px 15px;
    border-radius:50px;
    transition: background 0.2s linear;
}
main .wrap {}
main .wrap #video {
    width:100%;
}
main .wrap .txt > * {margin-bottom:25px; line-height:25px;}
main .wrap .txt {text-align: center;}
main .wrap .txt h2 {font-size: 2.36rem; font-weight: 800; margin-top: 20px;}
main .wrap .txt p {}
main .wrap .txt a:hover {background: #D51920;}
main .wrap .txt a {
    background-color: #222;
    color:#fff;
    padding:5px 15px;
    border-radius:50px;
    transition: background 0.2s linear;
}
/* wrap2 */
/* main .wrap2 {
    background-color: darksalmon;
}
main .wrap2 .bnr_bg {
    background:url(../images/bnr_bg.png) no-repeat;
    background-size: cover;
    width: 100%; height: 650px;
    background-position: center;
    
}
main .wrap2 .bnr_bg .txt > * { margin-bottom: 40px; }
main .wrap2 .bnr_bg .txt {
    text-align: center;
    padding-top:226px;
    
}
main .wrap2 .bnr_bg .txt h2 {font-size: 2.36rem; font-weight:800;}
main .wrap2 .bnr_bg .txt p {line-height: 30px; font-size:1.3rem;}
main .wrap2 .bnr_bg .txt .wrap2_btn:hover {background-color: #222; color:#fff;}
main .wrap2 .bnr_bg .txt .wrap2_btn {
    border: 1px solid #222;
    padding:13px 50px;
    transition: background 0.2s linear;
} */

main .product {}
main .product h2 {font-size: 2.36rem; font-weight:800; margin-bottom: 45px;}
main .product #vans_slide {
    /* background-color: crimson; */
    
}
main .product .trending {
    position: relative;
}
main .product .trending #vans_slide .swiper-wrapper {}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide {
    /* background-color: yellow; */
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .product .trending #vans_slide .swiper-wrapper .slide1 {}
main .product .trending #vans_slide .swiper-wrapper .slide2 {}
main .product .trending #vans_slide .swiper-wrapper .slide3 {}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide {}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide .contents:first-child {}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide .contents {margin-right: 25px;}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide .contents a {}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide .contents a img {}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide .contents .slide_txt {margin-top:20px;}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide .contents .slide_txt a {}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide .contents .slide_txt p {line-height: 30px;}
main .product .trending .swiper-button-prev {background: url(../images/nav_left.png) no-repeat; left:-45px;}
main .product .trending .swiper-button-next {background: url(../images/nav_right.png) no-repeat; right:-50px;}
main .product .trending .swiper-button-prev::after,
main .product .trending .swiper-button-next::after {display: none;}
main .product .trending .swiper-button-prev,
main .product .trending .swiper-button-next {width:50px; height:50px; position: absolute;}
/* collbo */
main .collabo {}
main .collabo h2 {
    font-size: 2.36rem; font-weight:800; margin-bottom: 45px;
}
main .collabo .collabo_c {display: flex; flex-flow: row nowrap;}
main .collabo .collabo_c .box:last-child {margin-right: 0px;}
main .collabo .collabo_c .box {
    display:flex; flex-flow: column nowrap;
    margin-right: 20px;
}
main .collabo .collabo_c .box a {
    margin-bottom: 25px;
}
main .collabo .collabo_c .box a img {}
main .collabo .collabo_c .box .contents > * {margin-bottom: 25px; line-height: 30px;}
main .collabo .collabo_c .box .contents {}
main .collabo .collabo_c .box .contents h3 {font-size: 1.7rem; font-weight: 500;}
main .collabo .collabo_c .box .contents p {}
main .collabo .collabo_c .box .contents a:hover {background: #D51920;}
main .collabo .collabo_c .box .contents a {
    background-color: #222;
    color:#fff;
    padding:5px 15px;
    border-radius:50px;
    transition: background 0.2s linear;
}
/* footer */
