/* header */
main {width:calc(100% - 120px); margin:0 auto; letter-spacing: -0.04rem;}
header {
    /* background-color: aquamarine; */
}
header .top {
    padding:10px;
    background-color: #222;
    display: flex;
    height: 42px;
    width:100%;
    position: relative;
}
header .top p {
    color:#fff;
    font-weight: 500;
    font-size: 0.75rem;
    position:absolute; right:43%;
}
header .top .right {position:absolute; right:0; padding-right: 60px;}
header .top .right a {
    color:#fff;
    font-weight: 500;
    border-right:1px solid #fff;
    line-height: 5px;
    padding:0px 10px;
    font-size: 0.75rem;
    
}
header .top .right a:last-child {border-right:0;}
header .btm {
    width:calc(100% - 120px);
    margin: 0 auto;
    padding:15px ;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
header .btm h1 {}
header .btm h1 a {}
header .btm h1 a img {width:150px; height: 70px;}
header .btm nav {
    align-items: center;
}
header .btm nav ul {
    display: flex; flex-flow: row nowrap;
    padding-top:28px;
    position: relative;
}
header .btm nav ul li:last-child {margin-right: 0;}
header .btm nav ul li::after {
    content:''; display:block;
    width:100%; height:2px; background-color: #D51920;
    position:absolute; bottom:-1px;
    transform:scale(0); transition:transform 0.5s;
}
header .btm nav ul li:hover::after {transform:scale(1);}
header .btm nav ul li {
    margin-right: 20px;
    position: relative;
    padding-bottom:10px;
}
header .btm nav ul li a {
    letter-spacing: -0.04em;
    font-weight: 500;
}
/* 서브메뉴 */
header .btm nav ul li .snb {}
header .btm nav ul li .snb li {}
header .btm nav ul li .snb li a {}
/* ----------------------------------------- */
header .btm .right {
    display: flex; flex-flow: row nowrap; align-items: center;
}
header .btm .right #searchFrm {
    background-color:#222;
    padding:11px 0; border-radius: 30px;
    width:200px;
}
header .btm .right #searchFrm fieldset {
    display: flex;
}
header .btm .right #searchFrm fieldset #searchBtn {background: none; padding-left:10px;}
header .btm .right #searchFrm fieldset #searchBtn img  {}
header .btm .right #searchFrm fieldset #searchTxt::placeholder {color:#fff;}
header .btm .right #searchFrm fieldset #searchTxt {
    background:none ; color:#fff; padding-left:10px;
}
header .btm .right .icon {}
header .btm .right .icon a:first-child {margin:0 20px;}
header .btm .right .icon a {}
header .btm .right .icon a img {}
/* main */
main > * {margin-bottom: 100px;}
main {}
main .m_event {text-align: center;}
main .m_event img {width: 100%;}
main .event {
    /* background-color: pink; */
}
main .event .img {text-align: center;}
main .event .img img {
    width: 100%;
}
main .event .txt > * {margin-bottom:25px; line-height: 25px;}
main .event .txt {
    text-align: center;
}
main .event .txt h2 {font-size: 2.36rem; font-weight: 800;}
main .event .txt p {}
main .event .txt a:hover {background: #D51920;}
main .event .txt a {
    background-color: #222;
    color:#fff;
    padding:5px 15px;
    border-radius:50px;
    transition: background 0.2s linear;
}
main .wrap {}
main .wrap #video {
    width:100%;
}
main .wrap .txt > * {margin-bottom:25px; line-height:25px;}
main .wrap .txt {text-align: center;}
main .wrap .txt h2 {font-size: 2.36rem; font-weight: 800; margin-top: 20px;}
main .wrap .txt p {}
main .wrap .txt a:hover {background: #D51920;}
main .wrap .txt a {
    background-color: #222;
    color:#fff;
    padding:5px 15px;
    border-radius:50px;
    transition: background 0.2s linear;
}
/* wrap2 */
/* main .wrap2 {
    background-color: darksalmon;
}
main .wrap2 .bnr_bg {
    background:url(../images/bnr_bg.png) no-repeat;
    background-size: cover;
    width: 100%; height: 650px;
    background-position: center;
    
}
main .wrap2 .bnr_bg .txt > * { margin-bottom: 40px; }
main .wrap2 .bnr_bg .txt {
    text-align: center;
    padding-top:226px;
    
}
main .wrap2 .bnr_bg .txt h2 {font-size: 2.36rem; font-weight:800;}
main .wrap2 .bnr_bg .txt p {line-height: 30px; font-size:1.3rem;}
main .wrap2 .bnr_bg .txt .wrap2_btn:hover {background-color: #222; color:#fff;}
main .wrap2 .bnr_bg .txt .wrap2_btn {
    border: 1px solid #222;
    padding:13px 50px;
    transition: background 0.2s linear;
} */

main .product {}
main .product h2 {font-size: 2.36rem; font-weight:800; margin-bottom: 45px;}
main .product #vans_slide {
    /* background-color: crimson; */
    
}
main .product .trending {
    position: relative;
}
main .product .trending #vans_slide .swiper-wrapper {}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide {
    /* background-color: yellow; */
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .product .trending #vans_slide .swiper-wrapper .slide1 {}
main .product .trending #vans_slide .swiper-wrapper .slide2 {}
main .product .trending #vans_slide .swiper-wrapper .slide3 {}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide {}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide .contents:first-child {}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide .contents {margin-right: 25px;}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide .contents a {}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide .contents a img {}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide .contents .slide_txt {margin-top:20px;}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide .contents .slide_txt a {}
main .product .trending #vans_slide .swiper-wrapper .swiper-slide .contents .slide_txt p {line-height: 30px;}
main .product .trending .swiper-button-prev {background: url(../images/nav_left.png) no-repeat; left:-45px;}
main .product .trending .swiper-button-next {background: url(../images/nav_right.png) no-repeat; right:-50px;}
main .product .trending .swiper-button-prev::after,
main .product .trending .swiper-button-next::after {display: none;}
main .product .trending .swiper-button-prev,
main .product .trending .swiper-button-next {width:50px; height:50px; position: absolute;}
/* collbo */
main .collabo {}
main .collabo h2 {
    font-size: 2.36rem; font-weight:800; margin-bottom: 45px;
}
main .collabo .collabo_c {display: flex; flex-flow: row nowrap;}
main .collabo .collabo_c .box:last-child {margin-right: 0px;}
main .collabo .collabo_c .box {
    display:flex; flex-flow: column nowrap;
    margin-right: 20px;
}
main .collabo .collabo_c .box a {
    margin-bottom: 25px;
}
main .collabo .collabo_c .box a img {}
main .collabo .collabo_c .box .contents > * {margin-bottom: 25px; line-height: 30px;}
main .collabo .collabo_c .box .contents {}
main .collabo .collabo_c .box .contents h3 {font-size: 1.7rem; font-weight: 500;}
main .collabo .collabo_c .box .contents p {}
main .collabo .collabo_c .box .contents a:hover {background: #D51920;}
main .collabo .collabo_c .box .contents a {
    background-color: #222;
    color:#fff;
    padding:5px 15px;
    border-radius:50px;
    transition: background 0.2s linear;
}
/* footer */
