
@media screen and (max-width:1200px){
    main {width:calc(100% - 30px);}
    header .btm nav ul {display:none;}
    header .top .right {display:none;}
    header .btm {padding:15px;}
}
@media screen and (max-width:1100px){
    header .top .right .icon {}
    header .btm .right .icon a:first-child {
        margin:0 10px;
        display: inline-block;
        background: url(../images/icon_user.png) no-repeat;
        width:30px; height:30px;
    }
    header .btm .right .icon a:last-child {
        display: inline-block;
        background: url(../images/icon_menu.png) no-repeat;
        width:30px; height:30px;
        margin:0;
    }
    header .btm .right .icon a:last-child img,
    header .btm .right .icon a:first-child img {content:''; display: none;}
}
/* index */
@media screen and (max-width:1200px){
    main .collabo .collabo_c {
        display:flex; flex-flow: row wrap;
        justify-content: center;
    }
    main .collabo .collabo_c .box {margin-bottom: 40px;}
}
/* product_list */
@media screen and (max-width:1200px){
    main .m_bnr .bnr_contents .box .bg1,
    main .m_bnr .bnr_contents .box .bg2,
    main .m_bnr .bnr_contents .box .bg3 {
        width:350px; height: 482px;
    }
    main .menu .menu_box {width:200px; height: 130px;}
}
@media screen and (max-width:1100px){
    main .menu {
        display: flex; flex-flow: row wrap;
        justify-content: space-evenly;
    }
    main .menu .menu_box {margin:15px;}
}
@media screen and (max-width:900px){
    main .m_bnr .bnr_contents .box .bg1,
    main .m_bnr .bnr_contents .box .bg2,
    main .m_bnr .bnr_contents .box .bg3 {
        width:250px; height: 344px;
    }
}